header {}

nav {
	text-align: center;
}

#navbar{
	background-color: #E24431 !important;
}
	

#logoMusicaevino{
	padding-top:30px;
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-left: 5px;
	text-transform: lowercase;
}

nav ul li {
	margin-right: 30px;
	margin-left: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: none !important;
	color: black !important;
}

.dropdown-menu{
	display: none;
	background-color: #E8A89C !important;
}
.dropdown:hover .dropdown-menu{
  display: block;
  border-color: #000000;
}
.dropdown-item {
	background-color: #E8A89C !important;
	opacity: 0.5;
}

.dropdown-item:hover {
	opacity: 1;
}

section {
	padding-top: 20px;
	padding-bottom: 40px;
}
h1 {
	font-family: 'Reenie Beanie', cursive;
}

.bigtitle {	
	text-align: center;
}

h2 {
	text-align: center;
	text-transform: inherit;
	padding: 8%;
	background-color:  #E8A89C;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
 }

.abouttitle {
 	text-align: center;
 	font-size:200%;
 	padding: 30px 30px;
 	font-weight: normal;
 }

 h3 {
 	text-align: center;
 	font-family:'Inter', sans-serif;
 	padding-top: 30px;
 }

 .row {
	max-width: 100%;
}

#loudstoriesintro{
	text-align: center;
	font-family:'Newsreader', serif;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 30px;
}

#bottoneclicca{
	color:#567346 !important;
}

.titolopagina{
 	text-align: center;
 	font-family: 'Inter', sans-serif;
 }

 .sottotitolo{
 	font-size: 22px;
 }

.intro {
 	text-align: center;
 	font-family: 'Inter', sans-serif;
 	margin-right: 15%;
 	margin-left: 15%;
}
 
 .firstletter{
 	font-size: 3em;
 	line-height: 15px;
 }
.cardbody{
	background-color:blueviolet;
	background-position: center;
	background-repeat: no-repeat;
	background-size: no-repeat;
	margin-top: 40px;
	text-align: center;
	border-radius: 50%;
}

.imgvino.png { 50%;
	height: 50%;
	}


.active {
	text-align: center !important;
	color: pink;
}

.gallerycard{
	border: 0px solid rgb(195, 168, 144, 0.5);
	border-radius: 0.25rem;
	font-family: 'Inter', sans-serif;
	background-color: #FFFFFF!important;
	margin-bottom: 40px;
}

.gallerycard:hover{
	border: 5px solid rgb(195, 168, 144, 1);
}

.fontsize{
	font-size: 30px ;
}

.btncolor{
	background-color: #567346 !important;
	padding: 3rem 10rem;
	border: 2px;
	border-color: #567346 !important;
	border-radius: 0.25rem;
	opacity: 0.8;
	margin-top: 1rem;
}

.btncolor:hover{
	background-color: #F5DD5F;
	opacity: 1;
}

footer {
	background-color: #E8A89C;
	text-align: center;
	padding-top: 80px; 
	color: black;
}

.copyrightfooter {
	padding-right: 15em;
	padding-left: 15em;
}

.mailcontact{
	font-family: 'Reenie Beanie', cursive;
	font-size: 30px;
}

.testolibro {
	font-family: 'Newsreader', serif;
	font-size: 1.2em;
}

button.buttonsocial {
	border: 3px solid rgb(0, 0, 0, 0.7);
	background-color: #E8A89C;
	border-radius: 0.5em;
	padding: 5px 5px;
	margin: 0px 10px;
	font-size: 16px;
}

button.buttonsocial:hover {
	border: 3px solid rgb(0, 0, 0, 1);
}

#spaceitem {
	margin-left: 80px;
}

#spaceword {
	margin-right: 50px !important;
}

img {
	max-width:100%;
	max-height: 20%;
}

.imgdocu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}

.segnalibri{
	max-width: 100%;
	max-height: 500px;
	margin-top: 10px;
}

.search-box {
	position: relative;
	left: 90%;
	transform: translate(-50%,-50%);
	display: inline-block;
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px #;
}

.search-box:hover > .search-txt {
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn {
	background: #567346;
}

#paddingsearchbox {
	padding-top: 0px;
	background-color: #E8A89C;
}

.search-btn {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #567346;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt {	
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}

#quiz {
  background-color: #E1D3C7;
  padding: 10px 20px 10px 20px;
  width: 460px;
  border-radius: 20px;
  float: center;
  margin-bottom: 40px;
  margin-top: 15px;
  max-width: 100% !important;
}

.classabout {
	background-color:#E1D3C7;
	padding: 10px 20px 10px 20px;
	width: 1000px !important;
 	border-radius: 20px;
  	float: center;
  	margin-bottom: 40px;
  	margin-top: 15px;
  	max-width: 100%;
}

#aboutintro{
	padding-top: 20px;
}

.paddingcerca {
	max-width: 100% !important;
}